@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700;900&display=swap');
@import "./variables.scss";

.App {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
}

.Intro {
  min-height: 100vh;
  position: relative;

  .logo {
    width: 128px;
    height: 128px;
    left: calc(50% - 128px/2);
    margin-top: 80px;
  }

  .title {
    height: auto;
    padding-left: 60px;
    padding-right: 60px;

    font-size: 36px;
    font-weight: 900;
    color: $color-primary;
  }

  .notes {
    max-width: 480px;
    font-size: 16px;
    list-style-type: circle;
    padding-left: 32px;
    padding-right: 16px;
    padding-bottom: 120px;
    margin: 24px auto 0;

    .summary {
      font-weight: 700;
    }

    .note-of-notes {
      max-width: 480px;
      font-size: 12px;
      padding-left: 16px;
      padding-right: 16px;
      margin: 8px auto 0;
    }
  }

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10000;

    .bg1,
    .bg2 {
      width: 100%;
      height: 100%;
      background-size: 120%;
      position: absolute;
    }

    .bg1 {
      background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../public/intro_bg1.jpg");
      animation: background-move 20s infinite forwards;
    }

    .bg2 {
      background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../public/intro_bg2.jpg");
      animation: background-move 20s -10s infinite forwards;
    }

  }

  @keyframes background-move {
    0% {
      background-position: 0%;
      filter: blur(10px) opacity(100);
    }

    40% {
      background-position: 100%;
      filter: blur(10px) opacity(100);
    }

    50% {
      background-position: 100%;
      filter: blur(20px) opacity(0);
    }

    90% {
      background-position: 0%;
      filter: blur(20px) opacity(0);
    }

    100% {
      background-position: 0%;
      filter: blur(10px) opacity(100);
    }
  }
}

.AppButton {
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 300px;
  height: 64px;
  border-radius: 32px;
  border-style: none;
  background: $color-primary;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 900;
  font-size: 24px;
  text-align: center;

  &:hover,
  &:focus {
    background: change-color($color: $color-primary, $lightness: 70%);
  }
}